In [14]:
import pandas as pd

In [15]:
loan_df = pd.read_csv("./loan.csv")
loan_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [16]:
loan_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [17]:
features_df = loan_df[["ApplicantIncome", "LoanAmount", "Credit_History"]]
features_df.head(10)

target_df = loan_df[["Loan_Status"]]
target_df = target_df.replace({"Y": 1, "N": 0})
target_df.head(10)

C:\Users\E1005283\AppData\Local\Temp\ipykernel_11228\3419054633.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  target_df = target_df.replace({"Y": 1, "N": 0})

   Loan_Status
0            1
1            0
2            1
3            1
4            1
5            1
6            1
7            0
8            1
9            0

In [18]:
from sklearn.impute import SimpleImputer

In [25]:
imputer = SimpleImputer(strategy="mean")
features_imputed = imputer.fit_transform(features_df)
features_imputed

array([[5.84900000e+03, 1.46412162e+02, 1.00000000e+00],
       [4.58300000e+03, 1.28000000e+02, 1.00000000e+00],
       [3.00000000e+03, 6.60000000e+01, 1.00000000e+00],
       ...,
       [8.07200000e+03, 2.53000000e+02, 1.00000000e+00],
       [7.58300000e+03, 1.87000000e+02, 1.00000000e+00],
       [4.58300000e+03, 1.33000000e+02, 0.00000000e+00]])

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

features_scaled = scaler.fit_transform(features_imputed)
features_scaled

array([[ 0.07299082,  0.        ,  0.45164045],
       [-0.13441195, -0.21927331,  0.45164045],
       [-0.39374734, -0.957641  ,  0.45164045],
       ...,
       [ 0.43717437,  1.26937121,  0.45164045],
       [ 0.35706382,  0.4833669 ,  0.45164045],
       [-0.13441195, -0.15972753, -2.41044061]])

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_scaled, target_df, test_size=0.2, random_state=42)

In [22]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

# prediction process
predict = model.predict(X_test)
predict # model predict

c:\Users\E1005283\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [23]:
print(len(X_train), len(X_test))
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predict)
print(f"Model accuracy: {accuracy:.2%}")

491 123
Model accuracy: 78.86%